# Windows image file caches
Thumbs.db
ehthumbs.db
~*

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# PyCharm
.idea/

# Atom / PlatformIO
.pio
.pioenvs
.piolibdeps
.pio
.pio/libdeps
.pio/build
.pio/*
.clang_complete
.gcc-flags.json
.atomrc.cson
lib/readme.txt
include/readme.txt
/platformio.ini
.sconsign.dblite

# VSCode
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode
.history

# Other
compile_tests/
logger_test*/
YosemitechDO/
LongTermLogger/
barometric_correction/
3G_Test/

__pycache__/
runDoxygen.bat
docs/examples/*
output_doxygen.log
output_doxygen_run.log
output_mcss_run.log
output_mcss.log
docs/examples.dox_x
platformio_extra_envs.ini
src/sensors/table.md
cache
docs/output_copyFunctions.log
docs/output_documentExamples.log
docs/output_fixSectionsInXml.log
examples/DRWI_Mayfly1_Wifi_5tm_ds18b20_1/DRWI_Mayfly1_Wifi_5tm_ds18b20_1.ino
clang_format_all.bat
arduino_lint.md
arduino_lint.json
home/arduino/data/inventory.yaml
home/arduino/data/library_index.json
home/arduino/data/library_index.json.sig
home/arduino/data/package_adafruit_index.json
home/arduino/data/package_EnviroDIY_index.json
home/arduino/data/package_index.json
home/arduino/data/package_index.json.sig
home/arduino/data/package_sodaq_samd_index.json
home/arduino/data/packages/builtin/tools/ctags/5.8-arduino11/ctags.exe
home/arduino/data/packages/builtin/tools/mdns-discovery/1.0.5/LICENSE.txt
home/arduino/data/packages/builtin/tools/mdns-discovery/1.0.5/mdns-discovery.exe
home/arduino/data/packages/builtin/tools/serial-discovery/1.3.2/LICENSE.txt
home/arduino/data/packages/builtin/tools/serial-discovery/1.3.2/serial-discovery.exe
home/arduino/data/packages/builtin/tools/serial-monitor/0.9.1/LICENSE.txt
home/arduino/data/packages/builtin/tools/serial-monitor/0.9.1/serial-monitor.exe
home/arduino/downloads/packages/ctags-5.8-arduino11-pm-i686-mingw32.zip
home/arduino/downloads/packages/mdns-discovery_v1.0.5_Windows_64bit.zip
home/arduino/downloads/packages/serial-discovery_v1.3.2_Windows_64bit.zip
home/arduino/downloads/packages/serial-monitor_v0.9.1_Windows_64bit.zip
