# Windows image file caches
Thumbs.db
ehthumbs.db
~*

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Python
__pycache__/

# PyCharm
.idea/

# Atom
.atomrc.cson
.clang_complete
.gcc-flags.json

# VSCode
.vscode
.history

# PlatformIO
.settings
.pioenvs
.piolibdeps
.pio/*
lib/*
include/*
boards/*
.sconsign.dblite
platformio.ini
extra_envs.ini
lib/readme.txt
include/readme.txt

# Certificates
*.pem
*.pem.crt
*.pem.cert
*.pem.key
*.crt
*.cert
*.key

# PlatformIO
pioScripts/*
variants/*
boards/*
tests/*
lib/*
platformio_extra_envs.ini
pio_common_libdeps.ini

# Arduino CLI
arduino_cli.log
continuous_integration/arduino_cli_local.yaml
home/arduino/*
arduino_lint.md
arduino_lint.json

# Local CI and Build Artifacts
continuous_integration/arduino_cli_local.yaml
continuous_integration/platformio_ci_local.ini
continuous_integration/arduino_cli_cmd.bat
output_*.log
continuous_integration_artifacts/*
clang_format_all.bat
generateKeywords.bat
installWorkingDependencies.bat
runDoxygen.bat
buildCI.bat
run_mcss.bat

# Filters
.gitconfig
filters/*

# Other stuff
*.tar.gz
sync.ffs_db
archive/
compile_tests/
logger_test*/
ex_one_offs/
**/sensor_tests/
AGENTS.md
.github/copilot-instructions.md
.bumpversion.toml
.github/workflows/LibraryBuild.yml
datasheets/*
Datasheets.md
src/sensors/table.md
docs/Doxyfile.bak
docs/customdoxygen.css
docs/footer.html
docs/header.html
tests/SL099_certificates/*
tests/test_certificates/*
