name: Build and Publish Documentation

on:
  # Trigger when a release is created
  release:
    types:
      - published
  # Also give a manual trigger
  workflow_dispatch:

env:
  DOXYGEN_VERSION: Release_1_9_2

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    steps:
      # check out the ModularSensors repo
      - uses: actions/checkout@v2.4.0
        with:
          path: code_docs/ModularSensors

      - name: Set up Python
        uses: actions/setup-python@v2.3.0

      - name: Restore Python Dependencies
        uses: actions/cache@v2.1.6
        id: cache_python
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-doxygen-${{ env.DOXYGEN_VERSION }}

      - name: Install Pygments and other m.css Python Requirements
        if: steps.cache_python.outputs.cache-hit != 'true'
        run: |
          python -m pip install --upgrade pip
          pip3 install --upgrade --upgrade-strategy jinja2 Pygments beautifulsoup4

      - name: Install GraphViz (dot)
        run: sudo apt-get -y install graphviz

      - name: Restore Doxygen
        id: cache_doxygen
        uses: actions/cache@v2.1.6
        with:
          path: doxygen-src
          key: ${{ runner.os }}-doxygen-${{ env.DOXYGEN_VERSION }}

      - name: Clone and build doxygen
        if: steps.cache_doxygen.outputs.cache-hit != 'true'
        env:
          TRAVIS_BUILD_DIR: ${{ github.workspace }}
        run: |
          cd ${{ github.workspace }}/code_docs/ModularSensors/
          chmod +x continuous_integration/build-install-doxygen.sh
          sh continuous_integration/build-install-doxygen.sh

      # check out my fork of m.css, for processing Doxygen output
      - name: Checkout m.css
        uses: actions/checkout@v2.4.0
        with:
          # Repository name with owner. For example, actions/checkout
          repository: SRGDamia1/m.css
          path: code_docs/m.css

      - name: Generate all the documentation
        env:
          TRAVIS_BUILD_DIR: ${{ github.workspace }}
        run: |
          cd ${{ github.workspace }}/code_docs/ModularSensors/
          chmod +x continuous_integration/generate-documentation.sh
          sh continuous_integration/generate-documentation.sh

      - name: Deploy to github pages
        uses: peaceiris/actions-gh-pages@v3.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ${{ github.workspace }}/code_docs/ModularSensorsDoxygen/m.css
